@using MyBlazorShopHosted.Libraries.Shared.Product.Models
@using MyBlazorShopHosted.Libraries.Services.ShoppingCart
@using MyBlazorShopHosted.Libraries.Shared.ShoppingCart.Models
@inject NavigationManager navigationManager
@rendermode InteractiveAuto

<button @onclick="AddToCarte" class="display:inline-block padding-horizontal:24 padding-horizontal:24 &amp;:hocus--background-color:yellow-f0c808 background-color:orange-ff583d color:neutral-222224 font-size:18 font-weight:700 line-height:1 margin-bottom:32 padding-vertical:12 padding-vertical:16">
    @if (shoppingCartService.HasProduct(Product.Sku))
    {
        <span>
            Added to cart.
            @if (Quantity.HasValue)
            {
                <text>Add @Quantity more?</text>
            }
        </span>
    }
    else
    {
        <span>
            Add @Quantity to Cart?
        </span>
    }
</button>
@code {
    [Parameter]
    public ProductModel? Product { get; set; }

    public int? Quantity { get; set; }
    [Parameter]
    public IShoppingCartService shoppingCartService { get; set; }

    [CascadingParameter(Name = "ShoppingCartCountModel")]
    private ShoppingCartCountModel? ShoppingCartCountModel { get; set; }

    public void AddToCarte()
    {
        if (Product != null)
        {
            shoppingCartService.AddProduct(Product, Quantity ?? 1);
            Quantity = null;

            if (ShoppingCartCountModel != null)
            {
                ShoppingCartCountModel.OnCountChange();
            }

            navigationManager.NavigateTo("/cart");
        }
    }
}
