@page "/ordermodels/delete"
@inject BlazorApp1.Data.BlazorApp1Context DB
@using MyBlazorShopHosted.Libraries.Shared.Order
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderModel</h4>
    <hr />
    @if (ordermodel is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">orderId</dt>
            <dd class="col-sm-10">@ordermodel.orderId</dd>
        </dl>
        <EditForm method="post" Model="ordermodel" OnValidSubmit="DeleteOrderModel" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(ordermodel is null)">Delete</button> |
            <a href="/ordermodels">Back to List</a>
        </EditForm>
    }
</div>

@code {
    OrderModel? ordermodel;

    [SupplyParameterFromQuery]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ordermodel = await DB.SXOrderId.FirstOrDefaultAsync(m => m.id == id);

        if (ordermodel is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteOrderModel()
    {
        DB.SXOrderId.Remove(ordermodel!);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/ordermodels");
    }
}
