@page "/admin"
@using Microsoft.AspNetCore.Components.QuickGrid
@using MyBlazorShopHosted.Libraries.Shared.Order
@inject BlazorApp1.Data.BlazorApp1Context DB
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div>
  
        <QuickGrid Class="table" Items="DB.SXOrderId">
        <PropertyColumn Property="ordermodel => ordermodel.orderId" />

        <TemplateColumn Context="ordermodel">
            <a href="@($"ordermodels/edit?id={ordermodel.id}")">Edit</a> |
            <a href="@($"ordermodels/details?id={ordermodel.id}")">Details</a> |
            <a href="@($"ordermodels/delete?id={ordermodel.id}")">Delete</a>
        </TemplateColumn>
        </QuickGrid>

    }
</div>

@code {
    void OpenOrder(string id)
    {
        Console.WriteLine($"Opening order with id: {id}");
        NavigationManager.NavigateTo("/");
    }
}
